

/* Small Screens */
@media (min-width:576px) {
    .w-sm-25 {
        width: 25% !important
    }
    
    .w-sm-30 {
        width: 30% !important
    }
    
    .w-sm-50 {
        width: 50% !important
    }
    
    .w-sm-70 {
        width: 70% !important
    }
    
    .w-sm-75 {
        width: 75% !important
    }
    
    .w-sm-100 {
        width: 100% !important
    }
    
    .w-sm-auto {
        width: auto !important
    }
    
}
@media (max-width:576px) {
    .w-sm-25, .w-sm-30, .w-sm-50, .w-sm-70, .w-sm-75, .w-sm-100 {
        width: auto;
    }
    .rod-article-img-small {
        width: 160px !important;
        height: 100px !important;
    }
}
/*---------------------*/

/* Medium Screens*/
@media (min-width:768px) {
    .w-md-25 {
        width: 25% !important
    }
    
    .w-md-30 {
        width: 30% !important
    }
    
    .w-md-50 {
        width: 50% !important
    }
    
    .w-md-70 {
        width: 70% !important
    }
    
    .w-md-75 {
        width: 75% !important
    }
    
    .w-md-100 {
        width: 100% !important
    }
    
    .w-md-auto {
        width: auto !important
    }
    
    .nav-translation::before {
        content: "|";
        opacity: 0.4;
    }
    
    .rod-project {
        width: 48% !important;
    }
    
    .side-box {
        width: 100%;
    }
    
    .side-bar {
        border-left: 1px rgba(0,0,0,0.12) solid !important;
        border-bottom: none !important;
        width: 30%;
    }
    
    #rod-title {
        padding-top: 1.5rem !important;
    }
}

@media (max-width:768px) {
    .w-md-25, .w-md-30, .w-md-50, .w-md-70,.w-md-75, .w-md-100 {
        width: auto;
    }
    .nav-translation {
    border-top: 1px rgba(255,255,255,0.25) solid !important;
    margin-top: 6px;
    width: 3rem !important;
    }
    .side-box {
        width: auto;
    }
    .side-bar {
        border-left: none !important;
        border-bottom: 3px rgba(0,0,0,0.12) double !important;
        width: 100%;
    }
    
    #rod-title {
        padding-top: 3rem !important;
    }
}
/*---------------------*/

/* Large Screens */
@media (min-width:992px) {
    .w-lg-25 {
        width: 25% !important
    }
    
    .w-lg-50 {
        width: 50% !important
    }
    
    .w-lg-75 {
        width: 75% !important
    }
    
    .w-lg-100 {
        width: 100% !important
    }
    
    .w-lg-auto {
        width: auto !important
    }
    
    .rod-article-thumb {
        width: 30% !important;
    }
    .rod-article-body {
        width: 60% !important;
        margin-left: 2rem !important;
    }
    .rod-article-main {
        width: 50% !important;
    }
    .rod-article-secondary {
        width: 25% !important;
    }
    
    .rod-article-img-secondary {
        height: 150px !important;
    }
    
    .rod-article-card {
        width: 35% !important;
    }
    
    .rod-project {
        width: 30% !important;
    }
    
}
@media (max-width:992px) {
    .w-lg-25, .w-lg-50, .w-lg-75, .w-lg-100 {
        width: auto;
    }
    .rod-article-thumb {
        width: 100% !important;
    }
    .rod-article-img-secondary {
        height: 250px !important;
    }
}
/*---------------------*/

/* Extra Large Screens */
@media (min-width:1200px) {
    .w-xl-25 {
        width: 25% !important
    }
    
    .w-xl-50 {
        width: 50% !important
    }
    
    .w-xl-75 {
        width: 75% !important
    }
    
    .w-xl-100 {
        width: 100% !important
    }
    
    .w-xl-auto {
        width: auto !important
    }
    
}
@media (max-width:1200px) {
    .w-xl-25, .w-xl-50, .w-xl-75, .w-xl-100 {
        width: auto;
    }
}
/*---------------------*/

#rod-title {
    position: relative !important;
}

.rod-content {
    z-index: 0;
}

.rod-sticky {
  position: fixed !important;
  z-index: 1;
}

.no-decoration {
    text-decoration: none !important;
}

.shadow-hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.25) !important
}

.rod-animate {
  position: relative !important;
}
.rod-article-img-main {
    width: 100% !important;
    height: 288px !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.rod-article-img-secondary {
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.rod-article-img-small {
    min-width: 160px !important;
    min-height: 100px !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.doubled {
    border-top: 3px double rgba(0,0,0,0.12);
}

.display-5 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2
}

.display-6 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2
}

.display-7 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2
}


/* Animate Shadow */
.shadow-in {
	box-shadow: 0 .25rem .5rem rgba(0,0,0,0.15);
	animation-name: fade-in;
	animation-duration: .2s;
	
}
.shadow-out {
	box-shadow: 0 0rem 0rem rgba(0,0,0,0);
	animation-name: fade-out;
	animation-duration: .2s;
}
@keyframes fade-out {
	from {box-shadow: 0 .25rem .5rem rgba(0,0,0,0.15);}
	to {box-shadow: 0 0rem 0rem rgba(0,0,0,0);}
}
@keyframes fade-in {
	from {box-shadow: 0 0rem 0rem rgba(0,0,0,0);}
	to {box-shadow: 0 .25rem .5rem rgba(0,0,0,0.15);}
}
