:root {
    --rod-radius: 20px;
    --rod-radius-image-correction: 5px;
    --rod-secondary-color: #d6ddeb;
}

/* Small Screens */
@media (min-width:577px) {
    .w-sm-25 {
        width: 25% !important
    }
    
    .w-sm-30 {
        width: 30% !important
    }
    
    .w-sm-50 {
        width: 50% !important
    }
    
    .w-sm-70 {
        width: 70% !important
    }
    
    .w-sm-75 {
        width: 75% !important
    }
    
    .w-sm-100 {
        width: 100% !important
    }
    
    .w-sm-auto {
        width: auto !important
    }

    .homepage-title {
    font-size: 5.8rem;
    }

    .homepage-title-container {
    padding: 6rem 0 5rem 0;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .page-title {
        font-size: 4rem;
    }
    
}
@media (max-width:576px) {
    .w-sm-25, .w-sm-30, .w-sm-50, .w-sm-70, .w-sm-75, .w-sm-100 {
        width: auto;
    }

    .navbar-brand {
        font-size: 1.25rem;
    }

    .homepage-title {
    font-size: 5rem;
    }

    .homepage-title-container {
    padding: 2rem 0 1rem 0;
    }

    .rod-article-img-small {
        width: 160px !important;
        height: 100px !important;
    }
    .page-title {
        font-size: 3rem;
    }
}
/*---------------------*/

/* Medium Screens*/
@media (min-width:768px) {
    .w-md-25 {
        width: 25% !important
    }
    
    .w-md-30 {
        width: 30% !important
    }
    
    .w-md-50 {
        width: 50% !important
    }
    
    .w-md-70 {
        width: 70% !important
    }
    
    .w-md-75 {
        width: 75% !important
    }
    
    .w-md-100 {
        width: 100% !important
    }
    
    .w-md-auto {
        width: auto !important
    }
    
    .nav-translation::before {
        content: "|";
        opacity: 0.4;
        color: #888;
    }

    /*.rod-project-featured-text {
        padding-left: 2rem;
        padding-right: 2rem;
        border-top-left-radius: .25rem !important;
        border-bottom-left-radius: .25rem !important;
        max-width: 40%;
    }*/

    .rod-project-featured-image {
        padding-top: 0%;
        border-top-left-radius: 0px;
        border-top-right-radius: var(--rod-radius);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: var(--rod-radius);
    }
    

    .side-box {
        width: 100%;
    }
    
    .side-bar {
        border-left: 1px rgba(0,0,0,0.12) solid !important;
        border-bottom: none !important;
        width: 30%;
    }

    .rod-title-image {
        padding-top: 40%;
        margin-bottom: -21%;
    }

    .rod-spacer {
        padding-top:21%;
    }

    
    
}

@media (max-width:768px) {
    .w-md-25, .w-md-30, .w-md-50, .w-md-70,.w-md-75, .w-md-100 {
        width: auto;
    }
    
    /*.rod-project-featured-text {
        border-bottom-left-radius: .25rem !important;
        border-bottom-right-radius: .25rem !important;
        width: 100%;
    }*/

    .rod-project-featured-image {
        padding-top: 60%;
        border-top-left-radius: var(--rod-radius);
        border-top-right-radius: var(--rod-radius);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .collapsibleNavbarDark {
        background-color: #30405F;
        border: 1px #3E527A solid;
        box-shadow: 0 0.25rem .5rem rgba(0,0,0,.15)!important;
        margin-bottom: 15px;
        border-radius: var(--rod-radius);
    }

    .collapsibleNavbarLight {
        background-color: #f6f6f6;
        border: 1px #ddd solid;
        box-shadow: 0 0.25rem .5rem rgba(0,0,0,.15)!important;
        margin-bottom: 15px;
        border-radius: var(--rod-radius);
    }

    .nav-translation {
    border-top: 1px #ddd solid !important;
    margin-top: 6px;
    width: 5rem !important;
    }
    .side-box {
        width: auto;
    }
    .side-bar {
        border-left: none !important;
        border-bottom: 3px rgba(0,0,0,0.12) double !important;
        width: 100%;
    }

    .rod-title-image {
        padding-top: 60%;
        margin-bottom: -32%;
    }

    .rod-spacer {
        padding-top:32%;
    }

    
}
/*---------------------*/

/* Large Screens */
@media (min-width:992px) {
    .w-lg-25 {
        width: 25% !important
    }
    
    .w-lg-50 {
        width: 50% !important
    }
    
    .w-lg-75 {
        width: 75% !important
    }
    
    .w-lg-100 {
        width: 100% !important
    }
    
    .w-lg-auto {
        width: auto !important
    }
    
    .rod-article-thumb {
        width: 30% !important;
    }
    .rod-article-body {
        width: 60% !important;
        margin-left: 2rem !important;
    }
    .rod-article-main {
        width: 50% !important;
    }
    .rod-article-secondary {
        width: 25% !important;
    }
    
    .rod-article-img-secondary {
        height: 150px !important;
    }
    
    .rod-article-card {
        width: 35% !important;
    }
    
}
@media (max-width:992px) {
    .w-lg-25, .w-lg-50, .w-lg-75, .w-lg-100 {
        width: auto;
    }
    .rod-article-thumb {
        width: 100% !important;
    }
    .rod-article-img-secondary {
        height: 250px !important;
    }
}
/*---------------------*/

/* Extra Large Screens */
@media (min-width:1200px) {
    .w-xl-25 {
        width: 25% !important
    }
    
    .w-xl-50 {
        width: 50% !important
    }
    
    .w-xl-75 {
        width: 75% !important
    }
    
    .w-xl-100 {
        width: 100% !important
    }
    
    .w-xl-auto {
        width: auto !important
    }
    
}
@media (max-width:1200px) {
    .w-xl-25, .w-xl-50, .w-xl-75, .w-xl-100 {
        width: auto;
    }
}
/*---------------------*/

body {
    background-color: #f6f6f6;
    font-family: 'Mulish', sans-serif;
    font-size:1.18em;
    line-height: 1.65;
}

body {
    color:#444;
}

body a {
    color: #2E7AF4;
}

body a:hover {
    color: #2E7AF4;
}

a {
    -webkit-text-decoration-skip: auto;
    text-decoration-skip:auto;
}

.h-link {
    color: #bbb !important;
}

.rod-footer {
    background-color: #273751;
}

/* Title */
h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4 {
    color:#273751;
    font-family: 'Quicksand', sans-serif;
    padding-top: 1rem;
    /*text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);*/
}

h1,.h1 {
    font-weight: 500;
}

h2,h3,.h2,.h3 {
    font-weight: 600;
}

h4,h5,.h4,.h5 {
    font-weight: 700;
}

#rod-sub-title {
    /*font-family: 'Solway', serif;*/
    font-weight: 300 !important;
    font-size: 1.3em;
    line-height: 1.75;

}

.page-title {
    position: relative !important;
    color: #f6f6f6 !important;
}

.divider {
    max-width: 400px;
}

.top-divider {
    margin-top: 1rem;
    max-width: 500px;
}

.divider-footer {
    max-width: 300px;
}

.divder-decoration {
    color: #888;
    font-size: .75rem;
    line-height: 1rem;
}

.home-divder-decoration {
    color: #ea0;
    font-size: .75rem;
    line-height: 1rem;
}

.divider i, .divider-footer i {
    vertical-align: middle;
}

.divider hr {
    width: 40%;
    height: 0rem;
    border-color: #aaa;
}

.top-divider hr {
    width: 45%;
    height: 0rem;
    border-color: #aaa;
}

.divider-footer hr {
    width: 37%;
    height: .25rem;
    border:none;
    border-bottom: 1px solid #ddd;
}

.divider hr:after {
    content: "";
    display: block;
    border-bottom: 1px solid #aaa;
    height: .25rem;
}

.divider hr:first-child:after {
    margin-left:15px;
}

.divider hr:last-child:after {
    margin-right:15px;
}

.top-divider hr:after {
    content: "";
    display: block;
    border-bottom: 1px solid #aaa;
    height: .25rem;
}

.top-divider hr:first-child:after {
    margin-left:-15px;
}

.top-divider hr:last-child:after {
    margin-right:-15px;
}
/*---------------------*/


.rod-content {
    z-index: 0;
}

.rod-sticky {
  position: fixed !important;
  z-index: 1;
}

.no-decoration {
    text-decoration: none !important;
}


.rod-animate {
  position: relative !important;
}
.rod-article-img-main {
    width: 100% !important;
    height: 288px !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.rod-article-img-secondary {
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.rod-article-img-small {
    min-width: 160px !important;
    min-height: 100px !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.doubled {
    border-top: 3px double rgba(0,0,0,0.12);
}

.display-5 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2
}

.display-6 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
}

.display-7 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2
}


/* Background Colors*/
.bg-rod-blue {
    background-color: #273751;
}

.bg-rod-light {
    background-color: #f6f6f6;
}

.bg-rod-blue-blur {
    background-color: rgba(39,55,81,0.75);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
}

.bg-rod-light-blur {
    background-color: rgba(246,246,246,0.55);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
}


.rod-nav {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #C4C8CF;
}

.homepage-title {
    position: relative !important;
    margin: 3rem 0rem 0rem 0rem;
    /*text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);*/
    font-weight: 500;
}

.homepage-subtitle {
    font-size: 1.4rem;
    color: #444;
    /*text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);*/
}

.homepage-subtitle span:after {
    content:" •";
    color:#888;
    
}

.homepage-subtitle span:last-child:after {
    content:"";
    
}

.rod-project-featured {
    background-color: #273751;
    box-shadow: 0px 0.125rem 0.5rem rgba(0,0,0,0);
    transition: all 200ms ease-out;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: var(--rod-radius);
}
.rod-project-featured:hover {
    box-shadow: 0px .5rem 1rem rgba(0,0,0,0.15);
}
.rod-logo-title {
    font-size: 1.2rem;
}

.rod-project-featured-text hr {
    border-color: #ea0;
    width: 60%;
    margin-left: 0px
}

.rod-project-featured-image {
    position: relative;
    background-position: center;
    background-size: cover;
}

.rod-project {
    box-shadow: 0px 0.125rem 0.5rem rgba(0,0,0,0);
    transition: all 200ms ease-out;
    background-color: var(--rod-secondary-color);
    border-radius: var(--rod-radius);
}

.rod-project:hover {
    box-shadow: 0px .5rem 1rem rgba(0,0,0,0.15);
}
.rod-project-image {
    width: 100% !important;
    padding-top: 60%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-top-left-radius: var(--rod-radius);
    border-top-right-radius: var(--rod-radius);
}

.rod-title-image {
    background-position: center;
    background-size: cover;
    border-radius: var(--rod-radius);
}

.rod-title-text {
    margin-top: -50px;
}

.rod-project-text hr {
    width: 40%;
    margin-left: 0px
}

.rod-breadcrumb-link {
    font-size: 1rem;
}

.rod-button {
    padding: 1rem 1.2rem;
    background: white;
    border-radius: var(--rod-radius);
    box-shadow: 0px 0.125rem 0.25rem rgba(0,0,0,0.15);
    color: #444;
    margin: 1rem;
    text-align: center;
    transition: all 200ms ease-out;
}

.rod-button:hover {
    color: white;
    text-decoration: none;
    background: #007bff;
}

.rod-panel {
    background-color: var(--rod-secondary-color);
    transition: all 200ms ease-out;
    border-radius: var(--rod-radius);
}

/* Animate Shadow *
.shadow-in {
	box-shadow: 1px 15px 45px 0px rgba(0,0,0,.015) !important;
	animation-name: fade-in;
	animation-duration: 15s;
	
}
.shadow-out {
	box-shadow: 0 0rem 0rem rgba(0,0,0,0);
	animation-name: fade-out;
	animation-duration: .2s;
}
@keyframes fade-out {
	0% {box-shadow: 1px 15px 45px 0px rgba(0,0,0,0.15);}
	100% {box-shadow: 0rem 0rem 0rem rgba(0,0,0,0);}
}
@keyframes fade-in {
	0% {box-shadow: 0rem 0rem 0rem rgba(0,0,0,0);}
	100% {box-shadow: 0rem .25rem .5rem rgba(0,0,0,0.15);}
}*/
