:root {
    --rod-radius: 20px;
    --rod-radius-image-correction: 5px;
    --rod-secondary-color: #d6ddeb;
}

/*------------ Small Screens ------------*/
@media (min-width:577px) {
    .w-sm-25 {
        width: 25% !important
    }
    
    .w-sm-30 {
        width: 30% !important
    }
    
    .w-sm-50 {
        width: 50% !important
    }
    
    .w-sm-70 {
        width: 70% !important
    }
    
    .w-sm-75 {
        width: 75% !important
    }
    
    .w-sm-100 {
        width: 100% !important
    }
    
    .w-sm-auto {
        width: auto !important
    }

    .homepage-title {
        font-size: 5.8rem;
    }

    .homepage-title-container {
        margin-top: 2rem;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .page-title {
        font-size: 4rem;
    }
    
}
@media (max-width:576px) {
    .w-sm-25, .w-sm-30, .w-sm-50, .w-sm-70, .w-sm-75, .w-sm-100 {
        width: auto;
    }

    .navbar-brand {
        font-size: 1.25rem;
    }

    .homepage-title {
    font-size: 5rem;
    }

    .homepage-title-container {
    padding: 2rem 0 1rem 0;
    }

    .rod-article-img-small {
        width: 160px !important;
        height: 100px !important;
    }
    .page-title {
        font-size: 3rem;
    }
}
/*---------------------*/

/*------------ Medium Screens ------------*/
@media (min-width:768px) {

    .w-md-25 {
        width: 25% !important
    }
    
    .w-md-30 {
        width: 30% !important
    }
    
    .w-md-50 {
        width: 50% !important
    }
    
    .w-md-70 {
        width: 70% !important
    }
    
    .w-md-75 {
        width: 75% !important
    }
    
    .w-md-100 {
        width: 100% !important
    }
    
    .w-md-auto {
        width: auto !important
    }
    
    .nav-translation::before {
        content: "|";
        opacity: 0.4;
        color: #888;
    }

    .rod-project-featured-image {
        padding-top: 0%;
        border-top-left-radius: 0px;
        border-top-right-radius: var(--rod-radius);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: var(--rod-radius);
    }
    

    .side-box {
        width: 100%;
    }
    
    .side-bar {
        border-left: 1px rgba(0,0,0,0.12) solid !important;
        border-bottom: none !important;
        width: 30%;
    }

    .rod-title-image {
        padding-top: 40%;
    }

    .rod-spacer {
        padding-top:21%;
    }

    
    
}

@media (max-width:768px) {
    .w-md-25, .w-md-30, .w-md-50, .w-md-70,.w-md-75, .w-md-100 {
        width: auto;
    }

    .rod-project-featured-image {
        padding-top: 60%;
        border-top-left-radius: var(--rod-radius);
        border-top-right-radius: var(--rod-radius);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .nav-translation {
    border-top: 1px #999 solid !important;
    margin-top: 6px;
    width: 5rem !important;
    }

    .collapsibleNavbarLight {
        background-color: #fff;
        box-shadow: 0 0.25rem .5rem rgba(0,0,0,.15)!important;
        margin-bottom: 15px;
        border-radius: var(--rod-radius);
    }

    .side-box {
        width: auto;
    }
    
    .side-bar {
        border-left: none !important;
        border-bottom: 3px rgba(0,0,0,0.12) double !important;
        width: 100%;
    }

    .rod-title-image {
        padding-top: 60%;
    }

    .rod-spacer {
        padding-top:32%;
    }

    
}
/*---------------------*/

/*------------ Large Screens ------------*/
@media (min-width:992px) {
    .rod-content > div > p,
    .rod-content > div > h1,
    .rod-content > div > h2,
    .rod-content > div > h3,
    .rod-content > div > h4,
    .rod-content > div > h5,
    .rod-content > div > h6,
    .rod-content > div > ul,
    .rod-content > div > ol,
    .rod-content > div > hr,
    .rod-content-inner {
        margin-left: 6rem;
        margin-right: 6rem;

    }

    .homepage-subtitle span:after {
        content:"•";
        margin: 0rem 1rem;
        color:var(--bs-red);
        
    }

    .homepage-subtitle span:last-child:after {
        content:"";
        
    }

    .w-lg-25 {
        width: 25% !important
    }
    
    .w-lg-50 {
        width: 50% !important
    }
    
    .w-lg-75 {
        width: 75% !important
    }
    
    .w-lg-100 {
        width: 100% !important
    }
    
    .w-lg-auto {
        width: auto !important
    }
    
    .rod-article-thumb {
        width: 30% !important;
    }
    .rod-article-body {
        width: 60% !important;
        margin-left: 2rem !important;
    }
    .rod-article-main {
        width: 50% !important;
    }
    .rod-article-secondary {
        width: 25% !important;
    }
    
    .rod-article-img-secondary {
        height: 150px !important;
    }
    
    .rod-article-card {
        width: 35% !important;
    }
    
}
@media (max-width:992px) {
    .w-lg-25, .w-lg-50, .w-lg-75, .w-lg-100 {
        width: auto;
    }
    .rod-article-thumb {
        width: 100% !important;
    }
    .rod-article-img-secondary {
        height: 250px !important;
    }
}
/*---------------------*/

/*------------ Extra Large Screens ------------*/
@media (min-width:1200px) {
    .rod-content > div > p,
    .rod-content > div > h1,
    .rod-content > div > h2,
    .rod-content > div > h3,
    .rod-content > div > h4,
    .rod-content > div > h5,
    .rod-content > div > h6,
    .rod-content > div > ul,
    .rod-content > div > ol,
    .rod-content > div > hr,
    .rod-content-inner {
        margin-left: 8rem;
        margin-right: 8rem;

    }

    .w-xl-25 {
        width: 25% !important
    }
    
    .w-xl-50 {
        width: 50% !important
    }
    
    .w-xl-75 {
        width: 75% !important
    }
    
    .w-xl-100 {
        width: 100% !important
    }
    
    .w-xl-auto {
        width: auto !important
    }
    
}
@media (max-width:1200px) {
    .w-xl-25, .w-xl-50, .w-xl-75, .w-xl-100 {
        width: auto;
    }
}
/*---------------------*/

html {
    scroll-padding-top: 70px;
}

body {
    background-color: #f3f3f3;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.65;
}

body {
    color:#353441;
}

body a {
    color: var(--bs-red);
}

body a:hover {
    color: var(--bs-orange);
}

a {
    -webkit-text-decoration-skip: auto;
    text-decoration-skip:auto;
}

ul li::marker {
    color: var(--bs-red);
}

ol li::marker {
    color: var(--bs-red);
    font-weight: bold;
}

ol li {
    counter-increment: li;
}



.h-link {
    color: #bbb !important;
}

.rod-footer {
    background-color: #273751;
}

/*-------- Title --------*/

h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4 {
    color:#1b1a1d;
    font-family: 'Arvo', serif;
    padding-top: 1.2rem;
}

h1,.h1 {
    font-weight: 700;
}

h2,h3,.h2,.h3 {
    font-weight: 700;
}

h4,h5,.h4,.h5 {
    font-weight: 700;
}

hr {
    border-color: var(--bs-red);
    margin: 3rem 0;
}

.btn {    
    border-radius: var(--rod-radius);
}

.page-title {
    position: relative !important;
    color: #f6f6f6 !important;
}

.divider-decoration {
    color: var(--bs-red);
    font-size: .75rem;
    line-height: 1rem;
}

.divider hr {
    
    opacity: 1;
}


/*---------------------*/

.rod-sticky {
  position: fixed !important;
  z-index: 1;
}

.no-decoration {
    text-decoration: none !important;
}


.rod-animate {
  position: relative !important;
}
.rod-article-img-main {
    width: 100% !important;
    height: 288px !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.rod-article-img-secondary {
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.rod-article-img-small {
    min-width: 160px !important;
    min-height: 100px !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.doubled {
    border-top: 3px double rgba(0,0,0,0.12);
}

.display-5 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2
}

.display-6 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
}

.display-7 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2
}


/*------------ Background Colors ------------*/

.bg-rod-light-blur {
    background-color: rgba(246,246,246,0.55);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
}

/*----------------*/

#rod-nav {
    height: 70px;
    width: 100%;
    opacity: 0;
    transition: all .3s;
}

.homepage-title {
    position: relative !important;
    margin: 3rem 0rem 0rem 0rem;
    /*text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);*/
    font-weight: 500;
}

.homepage-subtitle {
    font-size: 1.4rem;
    color: #444;
    /*text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);*/
}


/*-------- Featured Project --------*/

.rod-project-featured {
    background-color: #fff;
    transition: all 150ms;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: var(--rod-radius);
}

.rod-logo-title {
    font-size: 1.2rem;
}

.rod-project-featured-image {
    position: relative;
    background-position: center;
    background-size: cover;
}

/*----------------*/

/*-------- Card --------*/

.rod-card {
    transition: all 200ms ease-out;
    background-color: #fff;
    border-radius: var(--rod-radius);
    position: relative;
}

.rod-card-image {
    width: 100% !important;
    padding-top: 60%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-top-left-radius: var(--rod-radius);
    border-top-right-radius: var(--rod-radius);
}

.rod-title-image {
    background-position: center;
    background-size: cover;
    border-radius: var(--rod-radius);
}

.rod-card-hover:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: var(--bs-red);
    z-index: -1;
    border-radius: var(--rod-radius);
    transition: all 150ms;
}

.rod-card-hover:hover:before {
    content:"";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: calc(var(--rod-radius)*1.2);
    transition: all 150ms;
}

.rod-card-text hr {
    width: 40%;
    margin-left: 0px
}

/*----------------*/

/*-------- Category Link --------*/

.rod-btn {
    background-color: rgba(var(--bs-danger-rgb), 0.1);
    transition: all 150ms;
    border: rgba(var(--bs-danger-rgb), 0.6) solid 1px;
    text-decoration: none;
    color: var(--bs-red)
}

.rod-btn:hover {
    background-color: var(--bs-red);
    color: #fff;
}

/*----------------*/

.rod-rounded {
    border-radius: var(--rod-radius);
}

.rod-outline-hover {
    outline: solid 0px var(--bs-red);
    transition: all 150ms;
}

.rod-outline-hover:hover {
    outline: solid 5px var(--bs-red);
}

.rod-button {
    padding: 1rem 1.2rem;
    background: white;
    border-radius: var(--rod-radius);
    box-shadow: 0px 0.125rem 0.25rem rgba(0,0,0,0.15);
    color: #444;
    margin: 1rem;
    text-align: center;
    transition: all 200ms ease-out;
}

.rod-button:hover {
    color: white;
    text-decoration: none;
    background: #007bff;
}

.rod-panel {
    background-color: var(--rod-secondary-color);
    transition: all 200ms ease-out;
    border-radius: var(--rod-radius);
}